html,
body {
    width: 100vw;
    overflow-x: hidden;
    background: black;
    scroll-behavior: smooth;
}

main {
    position: relative;
    z-index: 2;
    width: 100vw;
}

a {
    text-decoration: none;
    color: white;
}

* {
    box-sizing: border-box;
}

button {
    border: none;
}

button:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
p {
    color: white;
    font-family: 'Roboto', sans-serif;
}

hr {
    border: none;
    height: 1px;
    background: white;
    width: auto;
}
