body {
    transform: translate3d(0,0,0);
}

a {
    text-decoration: none;
    color: white;
}

* {
    box-sizing: border-box;
}

button {
    border: none;
}

button:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
p {
    color: white;
}

hr {
    border: none;
    height: 1px;
    background: white;
    width: auto;
}