@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
    color: white;
}
* {
    box-sizing: border-box;
}
button {
    border: none;
}
button:focus {
    outline: none;
}
@font-face {
    font-family: 'Raleway';
    src: url('../../assets/fonts/raleway-bold-webfont.woff2') format('woff2'),
    url('../../assets/fonts/raleway-bold-webfont.woff') format('woff'),
    url('../../assets/fonts/raleway-bold-webfont.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'Raleway';
    src: url('../../assets/fonts/raleway-regular-webfont.woff2') format('woff2'),
    url('../../assets/fonts/raleway-regular-webfont.woff') format('woff'),
    url('../../assets/fonts/raleway-regular-webfont.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Raleway';
    src: url('../../assets/fonts/raleway-thin-webfont.woff2') format('woff2'),
    url('../../assets/fonts/raleway-thin-webfont.woff') format('woff'),
    url('../../assets/fonts/raleway-thin-webfont.ttf') format('truetype');
    font-weight: 200;
}
.wrapper {
    width: 100vw;
    padding: 25px 50px;
}
.wrapper--phone {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
.text-hover a {
        display: block;
        background-image: linear-gradient(white, white);
        background-repeat: no-repeat;
        background-size: 0% 5%;
        background-position: 100% 75%;
        transition: background-size .2s ease-in;
    }
.text-hover a:hover {
            background-size: 100% 5%;
            background-position: 0% 75%;
            transition: background-size .2s ease-out;
        }
.text-hover--vertical {
        background-image: linear-gradient(#f44669, #f44669);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100% 50%;
        transition: background-size .2s ease-in, background-position .2s ease-in;
    }
.text-hover--vertical:hover {
            background-size: 100% 10%;
            background-position: center center;
            transition: background-size .2s ease-out, background-position .2s ease-out;
        }
.button--medium {
        cursor: pointer;
        box-shadow: 0 0 20px -5px black;
        font-size: 1.5rem;
        padding: .5em 1em;
        border-radius: 2em;
        transition: box-shadow .2s ease-in, -webkit-transform .2s ease-in;
        transition: transform .2s ease-in, box-shadow .2s ease-in;
        transition: transform .2s ease-in, box-shadow .2s ease-in, -webkit-transform .2s ease-in;
    }
.button--medium--extra::after {
            position: absolute;
            content: ' now';
            opacity: 0;
            margin-left: -20px;
            transition: opacity .2s ease-in, margin-left .2s ease-in;
        }
.button--medium--extra:hover::after {
            opacity: 1;
            margin-left: 10px;
            transition: opacity .2s ease-out, margin-left .2s ease-out;
        }
.button--medium:hover {
        background: transparent;
        box-shadow: none;
        -webkit-transform: scale(.95) translateX(-5%);
                transform: scale(.95) translateX(-5%);
        transition: box-shadow .2s ease-out, background .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
        transition: transform .2s ease-out, box-shadow .2s ease-out, background .2s ease-out, color .2s ease-out;
        transition: transform .2s ease-out, box-shadow .2s ease-out, background .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
    }
.button--red {
        background: #f44669;
        color: white;
    }
.button--l-margin-correction {
        -webkit-transform: translateX(-5%);
                transform: translateX(-5%);
    }
.header {
    position: fixed;
    height: 50px;
    z-index: 1;
}
.header__logo {
        float: left;
        width: 80px;
        cursor: pointer;
        margin-right: 20px;
        margin-top: 1px;/*Logo height correction*/
    }
.header__navigation {
        cursor: default;
    }
.header__navigation li {
            display: inline-block;
            line-height: 50px;
            margin: 0 20px;
            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
            cursor: pointer;
            font-size: 1rem;
            font-family: 'Roboto', sans-serif;
            font-weight: 100;
        }
.hero {
    position: fixed;
    float: left;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}
.hero__text {
        position: absolute;
        width: 100%;
        bottom: 80px;
        font-family: 'Roboto', sans-serif;
        color: white;
        font-weight: 100;
    }
.hero__text__heading {
            cursor: default;
            font-size: 1.6rem;
            line-height: 1.2;
            letter-spacing: .025em;
        }
.hero__text__heading--hollow {
                color: transparent;
                -webkit-text-stroke: 1px white;
            }
.hero__text__heading--large {
                font-size: 4.5rem;
                letter-spacing: .2em;
                line-height: 1;
            }
.hero__text__subheading {
            font-weight: 600;
            font-size: 1.2rem;
            letter-spacing: .25em;
        }
.hero__text__subheading--rotate {
                cursor: pointer;
                position: absolute;
                padding: 0px 10px;
                right: 50px;
                bottom: 100px;
                -webkit-transform: rotate(-90deg);
                        transform: rotate(-90deg);
            }
.hero__text__subheading--rotate:hover:before {
                    -webkit-transform: translate(-130%, 50%);
                            transform: translate(-130%, 50%);
                    transition: -webkit-transform .2s ease-out;
                    transition: transform .2s ease-out;
                    transition: transform .2s ease-out, -webkit-transform .2s ease-out;
                }
.hero__text__subheading--rotate:before {
                    content: '';
                    pointer-events: none;
                    position: absolute;
                    -webkit-transform: translate(-110%, 50%);
                            transform: translate(-110%, 50%);
                    width: 250px;
                    height: 10px;
                    background: White;
                    transition: -webkit-transform .2s ease-in;
                    transition: transform .2s ease-in;
                    transition: transform .2s ease-in, -webkit-transform .2s ease-in;
                }
.hero__image {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        min-width: 110vw;
        min-height: 100vh;
    }
main {
    position: relative;
    width: 100vw;
    height: auto;
}
.wel {
    position: relative;
    background: #16171e;
    float: left;
    width: 100vw;
    height: 500px;
    margin-top: 100vh;
    box-shadow: 0 -10px 40px -15px black;
}
.wel__text {
        position: relative;
        width: 80%;
        margin: 0 auto;
        margin-top: 150px;
        color: white;
        font-family: 'Raleway', sans-serif;
        line-height: 5rem;
    }
.wel__text__left {
            text-align: left;
            font-size: 1.5rem;
        }
.wel__text__center {
            text-align: center;
            font-size: 5rem;
            font-weight: 600;
        }
.wel__text__right {
            text-align: right;
            font-size: 1.5rem;
        }
.wel__text__contact-us {
            cursor: pointer;
            display: inline-block;
        }
.wel__text__contact-us a {
                color: #f44669 !important;
            }
.phone {
    position: fixed;
    left: -100vw;
    top: 0px;
    width: 100vw;
    height: 100vh;
    opacity: 0.9;
    background: #f97a59;
    z-index: 10;
    text-align: center;
    transition: left .4s ease-in-out;
    -webkit-backdrop-filter: blur(15px);
}
.phone__number {
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 5rem;
        font-weight: 100;
    }
.phone__icon {
        cursor: pointer;
        position: absolute;
        top: 50px;
        right: 50px;
        color: white;
        font-size: 2rem;
    }