@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html,
body {
    width: 100vw;
    overflow-x: hidden;
}
main {
    position: relative;
    z-index: 2;
    width: 100vw;
}
a {
    text-decoration: none;
    color: white;
}
* {
    box-sizing: border-box;
}
button {
    border: none;
}
button:focus {
    outline: none;
}
h1,
h2,
h3,
h4,
p {
    color: white;
}
hr {
    border: none;
    height: 1px;
    background: white;
    width: auto;
}
@font-face {
    font-family: 'Raleway';
    src: url('../../assets/fonts/raleway-bold-webfont.woff2') format('woff2'),
    url('../../assets/fonts/raleway-bold-webfont.woff') format('woff'),
    url('../../assets/fonts/raleway-bold-webfont.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'Raleway';
    src: url('../../assets/fonts/raleway-regular-webfont.woff2') format('woff2'),
    url('../../assets/fonts/raleway-regular-webfont.woff') format('woff'),
    url('../../assets/fonts/raleway-regular-webfont.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Raleway';
    src: url('../../assets/fonts/raleway-thin-webfont.woff2') format('woff2'),
    url('../../assets/fonts/raleway-thin-webfont.woff') format('woff'),
    url('../../assets/fonts/raleway-thin-webfont.ttf') format('truetype');
    font-weight: 200;
}
/*    Categories*/
.define-text__heading {
        font-size: 2.5rem;
        line-height: 1.2;
    }
@media(max-width: 600px) {
.define-text__heading {
            font-size: 2.2rem;
            line-height: 1.5
    }
    }
.define-text__heading--medium {
            font-size: 3.5rem;
            letter-spacing: .025em;
            line-height: 1.2;
        }
@media(max-width: 600px) {
.define-text__heading--medium {
                font-size: 2.5rem
        }
    }
.define-text__heading--large {
            font-size: 4.5rem;
            letter-spacing: .2em;
            line-height: 1;
        }
@media(max-width: 600px) {
.define-text__heading--large {
                font-size: 3rem
        }
    }
.define-text__small-heading {
        font-size: 1.6rem;
        line-height: 1.2;
        letter-spacing: .025em;
    }
@media(max-width: 600px) {
.define-text__small-heading {
            font-size: 1.5rem
    }
    }
.define-text__subheading {
        font-size: 1.2rem;
        line-height: 1;
    }
@media(max-width: 600px) {
.define-text__subheading {
            font-size: .8rem
    }
    }
.define-text__subheading--small {
            font-size: 1rem;
        }
.define-text__subheading--tiny {
            font-size: .8rem;
        }
.define-text__para {
        font-size: 1rem;
        line-height: 2;
    }
@media(max-width: 600px) {
.define-text__para {
            font-size: 1.1rem
    }
    }
.define-text__para--tiny {
            font-size: .6rem;
        }
.define-text__para--small {
            font-size: .8rem;
        }
.define-text__para--small-line-height {
            line-height: 1.5;
        }
.define-text__quote {
        margin-top: 30px;
        font-size: 1rem;
        text-align: right !important;
        color: rgba(255, 255, 255, 0.6);
    }
@media(max-width: 600px) {
.define-text__quote {
            margin-top: 50px;
            font-size: .8rem
    }
    }
/*    Modifiers*/
.define-text--xlight {
        font-weight: 100;
    }
.define-text--light {
        font-weight: 200;
    }
.define-text--bold {
        font-weight: 600;
    }
.define-text--extra-bold {
        font-weight: 800;
    }
.define-text--highlight {
        color: #f97a59;
    }
.define-text--no-select {
        cursor: default;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
    }
.define-text--no-select--pointer {
            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
            cursor: pointer;
        }
.define-text--invert {
        color: transparent;
        -webkit-text-stroke: 1px white;
    }
.define-text--shadow {
        text-shadow: 1px 1px 2px black;
    }
.define-text--t-margin-tiny {
            margin-top: 10px;
        }
.define-text--t-margin-small {
            margin-top: 20px;
        }
.define-text--t-margin-medium {
            margin-top: 30px;
        }
.define-text--t-margin-large {
            margin-top: 40px;
        }
.define-text--t-margin-xlarge {
            margin-top: 80px;
        }
.define-text--t-margin-jumbo {
            margin-top: 120px;
        }
.define-text--b-margin-medium {
            margin-bottom: 30px;
        }
.define-text--dim {
        color: rgba(255, 255, 255, 0.6);
    }
.define-text--spacing-tiny {
            letter-spacing: .05em;
            text-indent: .05em;
        }
.define-text--spacing-small {
            letter-spacing: .1em;
            text-indent: .1em;
        }
.define-text--spacing-medium {
            letter-spacing: .2em;
            text-indent: .2em;
        }
.define-text--spacing-large {
            letter-spacing: .3em;
            text-indent: .3em;
        }
@-webkit-keyframes buttonSpan {
    0% {
        background-position: left center;
    }
    50% {
        background-position: right center;
    }
    100% {
        background-position: left center;
    }
}
@keyframes buttonSpan {
    0% {
        background-position: left center;
    }
    50% {
        background-position: right center;
    }
    100% {
        background-position: left center;
    }
}
.section {
    float: left;
    position: relative;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}
.section--clear-top {
        margin-top: 100vh;
    }
.section--dark {
        background: #16171e;
    }
.section--mid-tone {
        background: #372a42;
    }
.wrapper {
    padding: 25px 50px;
    margin: 0 auto;
    width: 100%;
}
@media(max-width: 600px) {
.wrapper {
        padding: 25px 15px
}
    }
.wrapper--medium {
        width: 80vw;
    }
.wrapper--t-extra-padding {
        padding-top: 150px;
    }
.wrapper--tb-tiny-padding {
        padding: 40px 50px;
    }
@media(max-width: 600px) {
.wrapper--tb-tiny-padding {
            padding: 20px 15px
    }
    }
.wrapper--tb-padding {
        padding: 80px 50px;
    }
@media(max-width: 600px) {
.wrapper--tb-padding {
            padding: 40px 15px
    }
    }
.wrapper--tb-extra-padding {
        padding: 150px 50px;
    }
@media(max-width: 600px) {
.wrapper--tb-extra-padding {
            padding: 60px 15px
    }
    }
.text-hover a {
        display: block;
        background-image: linear-gradient(white, white);
        background-repeat: no-repeat;
        background-size: 0% 5%;
        background-position: 100% 75%;
        transition: background-size .2s ease-in;
    }
.text-hover a:hover {
            background-size: 100% 5%;
            background-position: 0% 75%;
            transition: background-size .2s ease-out;
        }
.text-hover--vertical {
        background-image: linear-gradient(#f44669, #f44669);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100% 50%;
        transition: background-size .2s ease-in, background-position .2s ease-in;
    }
.text-hover--vertical:hover {
            background-size: 100% 10%;
            background-position: center center;
            transition: background-size .2s ease-out, background-position .2s ease-out;
        }
.text-hover--underline {
        transition: -webkit-transform .2s ease-in;
        transition: transform .2s ease-in;
        transition: transform .2s ease-in, -webkit-transform .2s ease-in;
    }
.text-hover--underline:hover {
            -webkit-transform: translateX(5px);
                    transform: translateX(5px);
            text-decoration: underline;
            color: white;
            transition: -webkit-transform .2s ease-out;
            transition: transform .2s ease-out;
            transition: transform .2s ease-out, -webkit-transform .2s ease-out;
        }
/*Sizes & Features*/
.button--medium {
        position: relative;
        cursor: pointer;
        box-shadow: 0 0 20px -5px black;
        font-size: 1.5rem;
        padding: .5em 1em;
        border-radius: 5em;
        transition: box-shadow .2s ease-in, -webkit-transform .2s ease-in;
        transition: transform .2s ease-in, box-shadow .2s ease-in;
        transition: transform .2s ease-in, box-shadow .2s ease-in, -webkit-transform .2s ease-in;
        background-color: transparent;
    }
.button--medium:hover {
            -webkit-transform: scale(.95);
                    transform: scale(.95);
            box-shadow: none;
            transition: box-shadow .2s ease-out, -webkit-transform .2s ease-out;
            transition: transform .2s ease-out, box-shadow .2s ease-out;
            transition: transform .2s ease-out, box-shadow .2s ease-out, -webkit-transform .2s ease-out;
        }
.button--medium:active {
            -webkit-transform: scale(.925);
                    transform: scale(.925);
        }
.button--medium--l-margin-correction {
            margin-left: -5px;
        }
.button--medium--unique {
            border-radius: 0px;
        }
/*Colors*/
.button__color--red {
            background-color: #f44669;
            color: white;
        }
.button__color--orange {
            background-color: #f97a59;
            color: white;
        }
.button__color--gradient {
            background-image: linear-gradient(to right, #f44669, #f97a59);
            background-size: 200% 100%;
            -webkit-animation: buttonSpan 5s ease-in-out infinite;
                    animation: buttonSpan 5s ease-in-out infinite;
            color: white;
        }
.row {
    width: 100%;
    height: 90vh;
}
@media(max-width: 800px) {
.row {
        float: left;
        height: 100vh;
        height: auto
}
    }
.row--tall {
        height: 110vh;
    }
@media(max-width: 800px) {
.row--tall {
            height: 100vh
    }
    }
.row--parent-height {
        height: 100%;
    }
.row__column-2 {
            position: relative;
            float: left;
            width: 16.66%;
            height: inherit;
            overflow: hidden;
        }
@media(max-width: 800px) {
.row__column-2 {
                width: 100%
        }
    }
.row__column-4 {
            position: relative;
            float: left;
            width: 33.33%;
            height: inherit;
            overflow: hidden;
        }
@media(max-width: 800px) {
.row__column-4 {
                width: 100%;
                height: auto
        }
    }
.row__column-8 {
            position: relative;
            float: left;
            width: 66.66%;
            height: 100%;
            overflow: hidden;
            transition: width .4s ease-out;
        }
@media(max-width: 800px) {
.row__column-8 {
                width: 100%;
                height: auto
        }
    }
.row__column-10 {
            position: relative;
            float: left;
            width: 83.33%;
            height: inherit;
            overflow: hidden;
        }
@media(max-width: 800px) {
.row__column-10 {
                width: 100%
        }
    }
.row--oversize {
        height: 100vh;
        box-shadow: 0 0 10px black;
        z-index: 10;
    }
@media(max-width: 800px) {
.row--oversize {
            height: auto
    }
    }
.row--oversize-right {
            position: absolute;
            right: 0px;
            top: 50%;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
        }
.row--oversize-left {
            position: absolute;
            left: 0px;
            top: 50%;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
        }
@media(max-width: 800px) {
            .row--oversize-right {
                position: relative;
                float: left;
                -webkit-transform: none;
                        transform: none;
                left: none;
                top: none;
            }
            .row--oversize-left {
                position: relative;
                float: left;
                -webkit-transform: none;
                        transform: none;
                left: none;
                top: none;
            }
    }
.row--content-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
.row--right {
        float: right;
    }
@media(max-width: 800px) {
.row--right {
            float: left
    }
    }
/*Do not edit this file. Edit the gulp file instead. This is the template for the icons and will break if altered.*/
.sprite-icon {
    background-image: url('../../assets/img/sprites/sprite-735d6c57.svg');
    overflow: hidden;
}
.sprite-icon--clock {
    width: 50px;
    height: 50px;
    background-position: 0 82.51748251748252%;
}
.sprite-icon--coin {
    width: 50px;
    height: 50px;
    background-position: 16.129032258064516% 82.51748251748252%;
}
.sprite-icon--duplicate {
    width: 50px;
    height: 50px;
    background-position: 32.25806451612903% 82.51748251748252%;
}
.sprite-icon--line-chart {
    width: 50px;
    height: 50px;
    background-position: 48.38709677419355% 82.51748251748252%;
}
.sprite-icon--logo_dark {
    width: 360px;
    height: 216px;
    background-position: 0 0;
}
.sprite-icon--logo_white {
    width: 80px;
    height: 20px;
    background-position: 0 68.35443037974683%;
}
.sprite-icon--network {
    width: 50px;
    height: 50px;
    background-position: 64.51612903225806% 82.51748251748252%;
}
.sprite-icon--services_implement-icon {
    width: 50px;
    height: 50px;
    background-position: 80.64516129032258% 82.51748251748252%;
}
.sprite-icon--services_maintain-icon {
    width: 50px;
    height: 50px;
    background-position: 96.7741935483871% 82.51748251748252%;
}
.sprite-icon--services_upgrade-icon {
    width: 50px;
    height: 50px;
    background-position: 0 100%;
}
.header {
    position: fixed;
    height: 50px;
    width: 100vw;
    z-index: 1;
}
@media(max-width: 600px) {
.header {
        background: #16171e;
        z-index: 5
}
    }
.header__logo {
        float: left;
        cursor: pointer;
        margin-right: 20px;
        margin-top: 25px;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
    }
@media(max-width: 600px) {
.header__logo {
            position: relative;
            margin: 2px 0 0 50%;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%)
    }
    }
.header__navigation li {
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        line-height: 50px;
        margin: 0 20px;
    }
@media(max-width: 600px) {
.header__navigation li {
            display: none
    }
    }
.hero {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}
.hero__text {
        position: absolute;
        width: 100%;
        bottom: 100px;
        font-family: 'Roboto', sans-serif;
    }
@media(max-width: 600px) {
.hero__text {
            position: absolute;
            width: 100%;
            top: 30vh;
            margin: 0 auto;
            text-align: center
    }
    }
@media(max-width: 600px) {
            .hero__text button {
                margin-top: 20vh;
            }
    }
.hero__text--rotate {
            cursor: pointer;
            position: absolute;
            padding: 0px 10px;
            right: 50px;
            bottom: 100px;
            -webkit-transform: rotate(-90deg);
                    transform: rotate(-90deg);
        }
@media(max-width: 600px) {
.hero__text__services {
                display: none
        }
    }
.hero__image {
        position: absolute;
        left: 0px;
        right: 0px;
        min-width: 110vw;
        min-height: 100vh;
    }
.intro {
    box-shadow: 0 -10px 40px -15px black;
}
.intro__text {
        margin: 0 auto;
        text-align: center;
    }
@media(max-width: 600px) {
.intro__text {
            text-align: left
    }
    }
@media(max-width: 800px) {
.intro__text__subheading {
                display: none
        }
    }
.intro__text--small-width {
            max-width: 800px;
            margin: 0 auto;
            opacity: 0;
        }
.intro__text--medium-width {
            max-width: 1200px;
            margin: 0 auto;
            opacity: 0;
        }
.intro__text__para {
            text-align: left;
        }
.erp__image {
        width: auto;
        height: 100%;
        -webkit-filter: hue-rotate(90deg) brightness(50%);
                filter: hue-rotate(90deg) brightness(50%);
    }
@media(max-width: 800px) {
.erp__image {
            display: block;
            width: 100vw;
            height: auto
    }
    }
.erp__image-text {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        transition: margin-left .2s ease-out;
        transition-delay: .2s;
        z-index: 1;
    }
.erp__image-text h4 {
            width: 50%;
        }
.erp__text {
        text-align: center;
        transition: opacity .2s ease-out;
        transition-delay: .4s;
    }
.erp__text__definition {
            text-align: left;
        }
.erp__text__services-list {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
        }
.erp__text__services-list li {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 40%;
                max-height: 200px;
                padding: 20px 10px;
            }
.erp__text__services-list__icon {
                width: 50px;
                margin: 0 auto;
            }
.services {
    font-family: 'Roboto', sans-serif;
}
.services__text {
        position: relative;
        width: 80%;
        height: 40%;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        margin: auto auto;
        z-index: 1;
    }
.services__text__icon {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
.services__text button {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
.services__text__para {
            float: left;
            text-align: left;
            opacity: 0;
            transition: opacity .2s ease-in;
        }
.services__row {
        transition: opacity .4s ease-out;
    }
.services__row:nth-child(2) {
            transition-delay: .2s;
        }
.services__row:last-child {
            transition-delay: .4s;
        }
.services__row:hover .services__image {
        -webkit-filter: brightness(50%);
                filter: brightness(50%);
        height: 100%;
        transition: height .3s ease-out, -webkit-filter .2s ease-in;
        transition: filter .2s ease-in, height .3s ease-out;
        transition: filter .2s ease-in, height .3s ease-out, -webkit-filter .2s ease-in;
    }
.services__image {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        -webkit-filter: brightness(30%);
                filter: brightness(30%);
        height: 105%;
        width: auto;
        transition: height .3s ease-out, -webkit-filter .2s ease-in;
        transition: filter .2s ease-in, height .3s ease-out;
        transition: filter .2s ease-in, height .3s ease-out, -webkit-filter .2s ease-in;
    }
.active + .services__text__para {
        opacity: 1;
        transition: opacity .2s ease-out;
    }
.more-services__list {
        position: absolute;
        left: 0px;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 200px;
        height: 80%;
        border-radius: 0 50px 50px 0px;
        box-shadow: 0px 0px 30px -8px black;
        transition: box-shadow .2s ease-in, margin-left .5s ease-out;
        transition-delay: 0s, .3s;
        z-index: 10;
    }
.more-services__list:hover {
            box-shadow: 0px 0px 15px -4px black;
            transition: box-shadow .2s ease-out;
        }
.more-services__list ul {
            margin: 0 auto;
        }
.more-services__list ul li {
                margin: 15px 0px;
                cursor: pointer;
            }
.more-services__text {
        margin-left: 64%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        width: 500px;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        transition: opacity .2s ease-out;
        transition-delay: .3s;
    }
.more-services__text__heading {
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
            width: 100%;
        }
.more-services__text__para {
            position: absolute;
            top: 50%;
            text-align: left;
            width: 100%;
        }
@media(max-width: 800px) {
.more-services__text {
            width: 100vw;
            height: 100vh
    }
    }
.more-services__image-text {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        z-index: 1;
    }
.more-services__image-text h4 {
            width: 70%;
        }
.more-services__image {
        width: auto;
        height: 100%;
        -webkit-filter: hue-rotate(-15deg) brightness(70%);
                filter: hue-rotate(-15deg) brightness(70%);
    }
@media(max-width: 800px) {
.more-services__image {
            display: block;
            width: 100vw;
            height: auto
    }
    }
.none {
    display: none;
}
.team {
    overflow: hidden;
}
.team__headings {
        text-align: center;
    }
.team__employee__list--members {
                margin-left: 30px;
            }
.team__employee__current {
            position: relative;
            padding: 0 40px;
            overflow: visible;
        }
@media(max-width: 600px) {
.team__employee__current {
                display: none
        }
    }
.team__employee__current__above-image {
                position: relative;
                float: left;
                text-align: left;
                z-index: 2;
            }
.team__employee__current__quote {
                width: 100%;
            }
.team__employee__current__quote__drop {
                    color: #f44669;
                    float: left;
                    font-size: 5rem;
                    line-height: 3.5rem;
                    padding-right: .05em;
                    margin-left: -.45em;
                }
.team__employee__current button {
                clear: both;
            }
.team__employee__current__image {
                position: relative;
                float: left;
                margin-top: -20%;
                margin-left: 100px;
                width: 800px;
                z-index: 1;
            }
.team__employee__current__bio {
                position: absolute;
                left: 10%;
                top: 50%;
                width: 250px;
                height: auto;
                padding: 20px 15px 40px 15px;
                border: 1px solid white;
            }
.team__employee__current__bio h1 {
                    text-align: center;
                }
.personna {
    position: relative;
    height: 90px;
    width: 250px;
    margin: 30px;
}
.personna__image {
        float: left;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0 0 10px black;
        transition: -webkit-transform .2s ease-in;
        transition: transform .2s ease-in;
        transition: transform .2s ease-in, -webkit-transform .2s ease-in;
    }
.personna__image:hover {
            -webkit-transform: scale(1.1) rotate(-20deg);
                    transform: scale(1.1) rotate(-20deg);
            transition: -webkit-transform .2s ease-out;
            transition: transform .2s ease-out;
            transition: transform .2s ease-out, -webkit-transform .2s ease-out;
        }
.personna__image:hover + h4 {
                margin-right: 0px;
                opacity: 1;
                transition: margin-right .2s ease-in, opacity .2s ease-in;
            }
.personna__image:hover + h4 span {
                    opacity: 1;
                    margin-right: 0px;
                }
.personna__name {
        position: absolute;
        right: 0px;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        margin-right: 20px;
        opacity: 0;
        transition: margin-right .2s ease-out, opacity .2s ease-out;
    }
.personna__name span {
            float: right;
            opacity: 0;
            margin-right: 10px;
            transition: inherit;
            transition-delay: .1s;
        }
.lazy--opacity {
        opacity: 1;
        transition: opacity .4s ease-out;
    }
.lazy--rows .lazy--rows-right {
            width: 100vw !important;
        }
.lazy--rows .lazy--rows-right-text {
            opacity: 0;
        }
.lazy--rows .lazy--rows-image-text {
            margin-left: 200px;
        }
.lazy--services .services__row {
            opacity: 0;
        }
.lazy--more-services .more-services__row {
            width: 100vw !important;
        }
.lazy--more-services .lazy--services-list {
            margin-left: -200px !important;
        }
.lazy--more-services .lazy--services-text {
            opacity: 0;
        }
.span-enter-active {
    transition: left .3s ease-out, opacity .3s ease-out;
}
.span-leave-active {
    transition: left .3s ease-out, opacity .3s ease-out;
}
.span-enter {
    left: 100%;
    opacity: 0;
}
.span-leave-to {
    left: 0%;
    opacity: 0;
}