.button {
    /*Sizes & Features*/
    &--medium {
        position: relative;
        cursor: pointer;
        box-shadow: 0 0 20px -5px black;
        font-size: 1.5rem;
        padding: .5em 1em;
        border-radius: 5em;
        transition: transform .2s ease-in, box-shadow .2s ease-in;
        background-color: transparent;
        &:hover {
            transform: scale(.95);
            box-shadow: none;
            transition: transform .2s ease-out, box-shadow .2s ease-out;
        }

        &:active {
            transform: scale(.925);
        }

        &--l-margin-correction {
            margin-left: -5px;
        }
        
        &--unique {
            border-radius: 0px;
        }
    }

    /*Colors*/
    &__color {
        &--red {
            background-color: $mainRed;
            color: white;
        }
        
        &--orange {
            background-color: $mainOrange;
            color: white;
        }

        &--gradient {
            background-image: linear-gradient(to right, $mainRed, $mainOrange);
            background-size: 200% 100%;
            animation: buttonSpan 5s ease-in-out infinite;
            color: white;
        }
    }
}
