.button {
    /*Sizes & Features*/
    &--medium {
        position: relative;
        cursor: pointer;
        box-shadow: 0 0 20px -5px black;
        font-size: 1.5rem;
        padding: .5em 1em;
        border-radius: 5em;
        transition: transform .2s ease-in, box-shadow .2s ease-in;
        background-color: transparent;

        &:hover {
            /*            background-color: transparent;*/
            box-shadow: none;
            transform: scale(.95) translateX(-5%);
            transition: transform .2s ease-out, box-shadow .2s ease-out;
        }

        &:active {
            transform: scale(.925) translateX(-5%);
        }
    }

    &--add-now {
        &:after {
            position: relative;
            content: ' now';
            opacity: 0;
            margin-left: -2em;
            transition: opacity .2s ease-in, margin-left .2s ease-in;
        }

        &:hover:after {
            position: relative;
            opacity: 1;
            margin-left: 0;
            transition: opacity .2s ease-out, margin-left .2s ease-out;
        }
    }

    /*Colors*/
    &__color {
        &--red {
            background-color: $mainRed;
            color: white;
        }

        &--gradient {
            background-image: linear-gradient(to right, $mainRed, $mainOrange);
            background-size: 200% 100%;
            animation: buttonSpan 5s ease-in-out infinite;
            color: white;
        }
    }

    /*Other*/
    &--l-margin-correction {
        transform: translateX(-5%);
    }
}
