.erp {
  .row__column-8 {
    @mixin flexCenter;
  }
  &__image {
    min-width: 100%;
    height: auto;
    min-height: 100%;
    filter: brightness(80%);
    @mixin tab {
      display: block;
      width: 100vw;
      height: auto;
      filter: brightness(50%);
    }
    @mixin phone {
      width: 120vw !important;
    }
  }
  &__image-text {
    will-change: transform, opacity;
    @mixin absCenter;
    transition: transform .4s ease-out, opacity .4s ease-out;
    z-index: 1;
    opacity: 1;
    width: 80%;
    & h4 {
      width: 70%;
    }
  }
  &__text {
    will-change: transform, opacity;
    text-align: center;
    transition: transform .4s ease-out, opacity .4s ease-out;
    &__definition {
      text-align: left;
    }
    &__services-list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        max-height: 200px;
        padding: 20px 10px;
        @mixin tab {
          width: 50%;
        }
        @mixin phone {
          width: 100%;
          padding: 0;
          margin: 40px 0;
          h4 {
            font-size: 1.4rem;
          }
          p {
            font-size: 1rem;
          }
        }
      }
      &__icon {
        width: 50px;
        margin: 0 auto;
      }
      @mixin tab {}
    }
  }
}
