.footer {
  &__wrapper {
    float: left;
  }
  &__logo {
    width: 100%;
    float: left;
    height: 50px;
    display: flex;
    justify-content: center;
    span {
      display: block;
      transform: scale(1.2);
    }
  }
  &__contact {
    float: left;
    height: 200px;
    width: 66.66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      margin-left: 25px;
      margin-bottom: 10px;
      color: #aaa;
      transition: transform .2s ease-out;
      &:hover {
        color: #efefef;
        cursor: pointer;
        transform: scale(1.1) translate(5%, 0);
      }
    }
  }
  &__social {
    float: left;
    height: 200px;
    width: 33.33%;
  }
}
