.footer {
  .wrapper {
    @mixin tab {
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 10px;
      padding-top: 30px;
    }
  }
  &__wrapper {
    float: left;
    overflow: hidden;
  }
  &__logo {
    width: 50%;
    min-width: 500px;
    clear: both;
    margin: 0 auto 50px auto;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
      display: block;
      transform: scale(1.2);
    }
  }
  &__topics-and-content-wrapper {
    position: absolute;
    padding: 20px 40px;
    bottom: 0px;
    left: 0px;
    width: 60vw;
    height: 280px;
    box-shadow: 0 0 20px #efefef;
    @mixin tab {
      position: relative;
      width: 100vw;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @mixin phone {
      flex-direction: column;
    }
  }
  &__topics {
    float: left;
    height: 200px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
    h2 {
      margin-left: 25px;
      margin-bottom: 10px;
      color: #999;
      transition: transform .2s ease-out;
      &:hover {
        color: #333;
        cursor: pointer;
        transform: scale(1.1) translate(5%, 0);
        @mixin phone {
          transform: scale(1);
          color: #999;
        }
      }
      @mixin desktop {
        font-size: 2rem;
      }
      @mixin tabPlus {
        font-size: 1.8rem;
      }
      @mixin phone {
        font-size: 1.5rem;
      }
    }
    @mixin tab {
      margin-right: 20%;
    }
    @mixin phone {
      margin: 0;
      width: 100vw;
      flex-direction: row;
      height: auto;
    }
  }
  &__content {
    float: right;
    height: 200px;
    width: 60%;
    @mixin tabPlus {
      width: 50%;
    }
    @mixin tab {
      width: 100%;
      float: left;
    }
    @mixin phone {
      width: 90vw;
      margin-top: 20px;
    }
    &--locations-maps {
      width: 100%;
      height: 200px;
      background: rgba(#333, 0.1);
    }
    &--clients {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      li {
        cursor: pointer;
        margin: 15px 0;
        transition: transform .2s ease-in;
        &:hover {
          transform: scale(1.1);
          transition: transform .2s ease-out;
          @mixin tab {
            transform: none;
          }
        }
        @mixin phone {
          font-size: 1.2rem;
        }
      }
      @mixin phone {
        flex-wrap: wrap;
      }
    }
    &--subscribe {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
      .form__button {
        border: none;
        margin-top: 20px;
      }
    }
  }
  &__copyright {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 40vw;
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    hr {
      background: #ccc !important;
      width: 90%;
      @mixin tab {
        width: 100vw;
      }
    }
    p {
      font-size: .7rem;
      color: #ccc;
    }
    @mixin tab {
      position: relative;
      width: 100vw;
    }
  }
}

.footerActive {
  color: $mainRed !important;
  transform: scale(1.1) translate(5%, 0) !important;
  @mixin phone {
    transform: scale(1.1) !important;
  }
}
