.header {
    position: fixed;
    height: 50px;
    width: 100vw;
    z-index: 1;
    animation: navIn .8s ease-out;
    opacity: 0;
    animation-delay: .4s;
    animation-fill-mode: forwards;

    @mixin phone {
        background: $mainDark;
        z-index: 5;
    }

    &__logo {
        float: left;
        cursor: pointer;
        margin-right: 20px;
        margin-top: 25px;
        transform: translateY(-50%);

        @mixin phone {
            position: relative;
            margin: 2px 0 0 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__navigation li {
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        line-height: 50px;
        margin: 0 20px;

        @mixin phone {
            display: none;
        }
    }
}
