.header {
  position: fixed;
  height: 50px;
  width: 100vw;
  z-index: 1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(30px);
  transform: translate3d(0, -150%, 0);
  animation: navIn .8s ease-out;
  animation-delay: .4s;
  animation-fill-mode: forwards;
  z-index: 5;
  &__wrapper {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 50px;
    display: flex;
  }
  &__logo {
    cursor: pointer;
    margin: auto 20px auto 0;
    @mixin phone {
      position: relative;
      margin: auto;
    }
  }
  &__navigation {
    width: auto;
    margin: auto 0;
    li {
      display: inline-block;
      font-family: 'Roboto', sans-serif;
      margin: 0 20px;
      @mixin phone {
        display: none;
      }
    }
  }
}
