.header {
    position: fixed;
    height: 50px;
    width: 100vw;
    z-index: 1;

    &__logo {
        float: left;
        width: 80px;
        cursor: pointer;
        margin-right: 20px;
        /*Logo height correction*/
        margin-top: 1px;
    }

    &__navigation li {
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        line-height: 50px;
        margin: 0 20px;
    }
}