.hero {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 0;

    &__text {
        position: absolute;
        width: 100%;
        bottom: 100px;
        font-family: 'Roboto', sans-serif;
        
        @mixin phone {
            width: 80%;
            top: 55vh;
            left: 50vw;
            transform: translate(-50%, -50%);
            text-align: center;
        }
        
        @mixin phone {
            button {
                margin-top: 25vh;
            }
        }

        &--rotate {
            cursor: pointer;
            position: absolute;
            padding: 0px 10px;
            right: 50px;
            bottom: 100px;
            transform: rotate(-90deg);
        }
        
        &__services {
            @mixin phone {
                display: none;
            }
        }
    }
    &__image {
        @mixin absCenter;
        min-width: 110vw;
        min-height: 100vh;
    }
}
