.lazy {
  &--header-white {
    background: white !important;
    a {
      color: #333 !important;
    }
  }
  &--opacity {
    opacity: 1;
    transition: opacity .4s ease-out;
  }
  &--rows {
    .lazy--rows-right-text {
      transform: translate3d(-5%, 0, 0);
      opacity: 0;
    }
    .lazy--rows-image-text {
      transform: translate3d(-40%, -50%, 0);
      opacity: 0;
      @mixin tab {
        transform: translate3d(-45%, -50%, 0);
      }
    }
  }
  &--services {
    .services__image {
      opacity: 0;
      transform: scale3d(0.95, 0.95, 1) translate(-50%, -50%);
    }
  }
  &--more-services {
    .lazy--services-list {
      opacity: 0;
      transform: translate3d(-5%, -50%, 0);
      @mixin tab {
        transform: translate3d(0, -10%, 0);
      }
    }
    .lazy--services-text {
      opacity: 0;
      transform: translate3d(5%, -50%, 0);
      @mixin tab {
        transform: translate3d(0, -10%, 0);
      }
    }
    .lazy--services-image-text {
      opacity: 0;
      transform: translate3d(-60%, -50%, 0);
    }
  }
}
