@keyframes logo-in {
  0% {
    opacity: 0;
    transform: translate(-50%, 200%) scale(2);
  }
  40% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(2);
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading-out {
  0% {
    display: block;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
