body.preventScroll {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.preload * {
    animation-play-state: paused !important;
}

.loading {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background: black;
    
    &__logo {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}