.more-services {

    &__list {
        @mixin absLeft;
        @mixin flexCenter;
        width: 200px;
        height: 80%;
        border-radius: 0 50px 50px 0px;
        box-shadow: 0px 0px 30px -8px black;
        transition: transform .4s ease-out, opacity .4s ease-out;
        transition-delay: .6s, .8s;
        z-index: 10;

        @mixin tab {
            position: relative;
            width: 100vw;
            height: 150px;
            top: 0px;
            transform: translate(0, 0);
            border-radius: 0 0 50px 50px;
        }

        &:hover {
            box-shadow: 0px 0px 15px -4px black;
        }

        ul {
            margin: 0 auto;

            @mixin tab {
                width: 400px;
                text-align: center;
            }

            li {
                margin: 15px 0px;
                cursor: pointer;

                @mixin tab {
                    margin: 0 15px;
                    display: inline-block;
                }
            }
        }
    }

    &__text {
        position: relative;
        top: 50%;
        left: 65%;
        transform: translate3d(-50%, -50%, 0);
        @mixin flexCenter;
        text-align: center;
        width: 500px;
        height: 60%;
        transition: transform .4s ease-out, opacity .2s ease-out;
        transition-delay: .2s;

        @mixin tab {
            display: block;
            width: auto;
            left: 50%;
            top: 150px;
            height: auto !important;
        }

        &__heading {
            position: relative;
            top: 25%;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;

            @mixin tab {
                position: relative;
            }
        }

        &__para {
            position: relative;
            top: 40%;
            text-align: left;
            width: 100%;

            @mixin tab {
                position: relative;
            }
        }

        @mixin tab {
            width: 100vw;
            height: 100vh;
        }
    }

    &__image-text {
        @mixin absCenter;
        width: 80%;
        will-change: transform, opacity;
        z-index: 1;
        transition: transform .4s ease-out;
        transition-delay: .4s;

        & h4 {
            width: 70%;
        }
    }

    &__image {
        width: auto;
        height: 100%;
        filter: hue-rotate(-15deg) brightness(70%);

        @mixin tab {
            display: block;
            width: 100vw;
            height: auto;
        }
    }
}

.none {
    display: none;
}
