.row {
    width: 100%;
    height: 90vh;

    &--tall {
        height: 110vh;
    }

    &--parent-height {
        height: 100%;
    }

    &__column-2 {
        position: relative;
        float: left;
        width: 16.66%;
        height: inherit;
        overflow: hidden;
    }

    &__column-4 {
        position: relative;
        float: left;
        width: 33.33%;
        height: inherit;
        overflow: hidden;
    }

    &__column-8 {
        position: relative;
        float: left;
        width: 66.66%;
        height: 100%;
        overflow: hidden;
    }

    &__column-10 {
        position: relative;
        float: left;
        width: 83.33%;
        height: inherit;
        overflow: hidden;
    }

    &--oversize {
        height: 100vh;
        box-shadow: 0 0 10px black;
        z-index: 10;
        &-right {
            @mixin absRight;
        }
        &-left {
            @mixin absLeft;
        }
    }
    &--right {
        position: relative;
        float: right;
    }
    &--content-center {
        @mixin flexCenter;
    }
}
