.section {
    float: left;
    position: relative;
    width: 100vw;
    min-width: 350px;
    font-family: 'Roboto', sans-serif;

    &--clear-top {
        margin-top: 100vh;
    }

    &--dark {
        background: $mainDark;
    }

    &--mid-tone {
        background: $mainMid;
    }
    &--black {
      background: #151515;
    }
}
