.services {
    font-family: 'Roboto', sans-serif;

    &__text {
        position: relative;
        width: 80%;
        height: 40%;
        top: 50%;
        transform: translateY(-50%);
        margin: auto auto;
        z-index: 1;

        &__icon {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        button {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        &__para {
            float: left;
            text-align: left;
            opacity: 0;
            transition: opacity .2s ease-in;
        }
    }

    &__row {
        transition: opacity .4s ease-out;

        &:nth-child(2) {
            transition-delay: .2s;
        }
        &:last-child {
            transition-delay: .4s;
        }
    }

    &__row:hover &__image {
        filter: brightness(50%);
        height: 100%;
        transition: filter .2s ease-in, height .3s ease-out;
    }

    &__image {
        @mixin absCenter;
        filter: brightness(30%);
        height: 105%;
        width: auto;
        transition: filter .2s ease-in, height .3s ease-out;
    }
}

.active {

    & + .services__text__para {
        opacity: 1;
        transition: opacity .2s ease-out;
    }
}
