.services {
    font-family: 'Roboto', sans-serif;
    transition: opacity .5s ease-out;

    &__text {
        position: relative;
        width: 80%;
        height: 40%;
        top: 50%;
        transform: translateY(-50%);
        margin: auto auto;
        z-index: 1;

        &__icon {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        button {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        &__para {
            float: left;
            text-align: left;
            opacity: 0;
            transition: opacity .2s ease-in;
        }
    }
    &__row:hover &__image {
        filter: brightness(50%);
        transform: scale3d(1, 1, 1) translate(-50%, -50%);
        transition: transform .4s ease-out, filter .2s ease-in;
    }

    &__image {
        will-change: transform;
        @mixin absCenter;
        filter: brightness(30%);
        width: auto;
        height: 100%;
        transform: scale3d(1.05, 1.05, 1) translate(-50%, -50%);
        transform-origin: top left;
        transition: transform .4s ease-out, filter .2s ease-in, opacity .4s ease-out;
    }
}

.active {

    & + .services__text__para {
        opacity: 1;
        transition: opacity .2s ease-out;
    }
}
