.footer__social {
  float: right;
  height: 200px;
  width: 33.33%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  &__icon-wrapper {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 20px;
    border: 2px solid #333;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      width: 60px;
      height: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span {
        transition: transform .2s ease-in;
      }
      &:hover>span {
        transform: rotate(-45deg);
        transition: transform .2s ease-out;
        @mixin tab {
          transform: none;
        }
      }
    }
    @mixin phone {
      transform: scale(0.8);
      margin: 0 10px;
    }
  }
  @mixin tab {
    height: 100px;
    width: 100%;
    margin-top: 10px;
  }
  @mixin phone {
    height: 70px;
  }
}
