.team {
  position: relative;
  float: left;
  height: auto;
  width: 100vw;
  overflow: hidden;
  #lazyload {
    background-image: url('../../assets/img/texture.svg');
    background-repeat: repeat;
    background-size: auto;
  }
  &__headings {
    position: relative;
    text-align: center;
  }
  &__learn-more {
    position: absolute;
    width: 100vw;
    height: 100%;
    bottom: 0px;
    transform: translate3d(0, 100%, 0);
    background-color: $mainOrange;
    transition: transform .2s ease-in;
    transition-delay: .2s;
    overflow: hidden;
    &__name {
      text-align: center;
      margin-top: 1%;
      color: white;
    }
    &__close {
      position: absolute;
      left: 50%;
      top: 50%;
      border-radius: 50%;
      transform: translate(-50%, -50%) rotate(0deg);
      transition: transform .2s;
      cursor: pointer;
      &:hover {
        transform: translate(-50%, -50%) rotate(-90deg);
        transition: transform .2s;
      }
    }
    &__image {
      position: absolute;
      right: 0%;
      top: 50%;
      transform: translate(100%, -50%);
      transition: transform .5s ease-out;
    }
  }
  .noHover {
    transform: translateY(50vh);
  }
  .noHover:hover~.team__learn-more {
    transform: inherit !important;
  }
  .personna:hover~.team__learn-more {
    transform: translateY(90%);
    transition: transform .4s ease-out;
  }
  .activeLearnMore {
    transform: translateY(0);
    transition: transform .4s ease-out;
  }
  .imageIn {
    transform: translate(0%, -50%);
    transition: transform .5s ease-out;
    transition-delay: .2s;
  }
}
